.container {
	display: flex;
	flex-direction: column;
	gap: vh(9);
}
.infoBar {
	display: flex;
	align-items: center;

	gap: vh(6);

	padding: vh(4);

	border-radius: vh(5);
	border: vh(0.5) solid $green-transparent;

	color: $green-solid;

	width: vh(86);
	height: vh(30);

	background-color: $green-transparent;

	font-size: vh(12);
	font-style: normal;
	font-weight: 400;
	line-height: normal;

}
.infoBarOn {
	background: linear-gradient(0deg, rgba(67, 231, 72, 0.12) 0%, rgba(67, 231, 72, 0.12) 100%), radial-gradient(122.22% 122.22% at 50% 50%, rgba(81, 81, 81, 0.08) 0%, rgba(217, 217, 217, 0.08) 100%);
	border: vh(0.5) solid rgba(67, 231, 72, 0.20);
}
.infoBarOff {
	background: rgba(231, 67, 79, 0.16);
	border: vh(0.5) solid rgba(231, 67, 79, 0.20);
	color: $red-solid;
}

.engineSvg {
	width: vh(12);
	height: vh(10);
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: vh(5);
	width: vh(22);
	height: vh(22);
	background: rgba(231, 67, 79, 0.16);
}
.iconLarge {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: vh(5);
	width: vh(32);
	height: vh(32);
	background: rgba(255, 255, 255, 0.06);
}

.active {
	background: rgba(67, 231, 72, 0.16);
}

.carUtils {
	display: flex;
	gap: vh(9);
}

.carInfoBar {
	display: flex;
	gap: vh(8);
}

.largeInfoBar {
	display: flex;
	align-items: center;

	gap: vh(8);

	padding: vh(6);

	width: vh(150);
	height: vh(44);

	color: $white-solid;

	border-radius: vh(5);
	background: radial-gradient(122.22% 122.22% at 50% 50%, rgba(81, 81, 81, 0.08) 0%, rgba(217, 217, 217, 0.08) 100%);
}

.largeInfoBarTextContainer {
	display: flex;
	flex-direction: column;

	gap: vh(2);

	&>p {
		color: $white-transparent;

		font-family: "TT Firs Neue";
		font-size: vh(10);
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&>span {
		color: $white-solid;

		font-family: "TT Firs Neue";
		font-size: vh(12);
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
}