.switch {
	width: vh(28);
	height: vh(16);
	background: radial-gradient(122.22% 122.22% at 50% 50%, rgba(81, 81, 81, 0.20) 0%, rgba(217, 217, 217, 0.20) 100%);
	border-radius: 9999px;
	padding: vh(2);
	display: flex;
	align-items: center;
	cursor: pointer;
}

.switch.on {
	background: #43e748;
	justify-content: flex-end;
}

.thumb {
	width: vh(12);
	height: vh(12);
	background: white;
	border-radius: 50%;
}
